{% extends 'mtdb/base.html' %}
{% load static %}
{% load myfilters %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="content-div">
            <div class="form-header border-bottom mb-3">
                <p class="form-header">Login</p>
                <img src="{% static 'mtdb/img/login.png' %}" class="img-fluid auth-img">
                <div style="clear: left;"></div>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}" class="bold-label">Username </label>
                    {{ form.username|addclass:'form-control' }}
                </div>
                <div class="form-group">
                    <label for="{{ form.password.id_for_label }}" class="bold-label"> 
                        Password
                    </label>
                    <a href="{% url 'users:password_reset' %}"><small class="float-right pass-reset">Forgot Password?</small></a>
                    {{ form.password|addclass:'form-control' }}
                </div>
                <div class="form-group">
                    <small class="user-link text-muted">
                        Need an Account? <a href="{% url 'users:register' %}">Sign Up</a>
                    </small>
                    <button class="btn btn-outline-info float-right" type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}